//TODO: verified
/// Ajouter rapidement un bordure sur les containers (sert au debogage)
/// @param {string} $color - couleur du bordure
/// @param {boolean} $bg-color [true, false] - activer|desactiver la couleur de l'arriere plan
/// @param {boolean} $status [true, false] - activer|desactiver l'info box (debogage)
@mixin box-debug($color, $bg-color: false, $status: true) {
	@if ($status) {
		border: solid 1px $color;
		@if ($bg-color) {
			background-color: lighten(adjust-hue($color, 20), 25%);
			// opacity: 70%;
		}
	}
}

//------------------------------------------------------------

//TODO: verified
@import './effect';
/// Generateur de container rapide
/// @param {string} $color - couleur de l'arriere plan
/// @param {pixel} $width - largeur du container
/// @param {pixel} $height - hauteur du container
/// @param {pixel} $radius - border radius
/// @param {boolean} $shadow [true, false] - activer|desactiver l'ombre du container
@mixin box-generator($color, $width, $height, $radius, $shadow: true) {
	background-color: $color;
	width: $width;
	height: $height;
	border-radius: $radius;
	@if ($shadow) {
		@include shadow-box();
	}
}

//------------------------------------------------------------

//TODO: verified
// Modifier rapidement la taille d'un container
/// @param {pixel} $width - largeur du container
/// @param {pixel} $height - hauteur du container
@mixin box-size($selector, $width, $height) {
	width: $width;
	height: $height;
}
