@charset "UTF-8";

//TODO: verified
/// Ajouter rapidement un bordure sur les containers (sert au debogage)
/// @param {string} $color - couleur du bordure
/// @param {boolean} $bg-color [true, false] - activer|desactiver la couleur de l'arriere plan
/// @param {boolean} $status [true, false] - activer|desactiver l'info box (debogage)
@mixin box-debug($color, $bg-color: false, $status: true) {
	@if ($status) {
		border: solid 1px $color;
		@if ($bg-color) {
			background-color: lighten(adjust-hue($color, 20), 25%);
			// opacity: 70%;
		}
	}
}

//------------------------------------------------------------

//TODO: verified
@import './effect';
/// Generateur de container rapide
/// @param {string} $color - couleur de l'arriere plan
/// @param {pixel} $width - largeur du container
/// @param {pixel} $height - hauteur du container
/// @param {pixel} $radius - border radius
@mixin box-generator($color, $width, $height: auto, $radius: 10px) {
	background-color: $color;
	width: $width;
	height: $height; 
	border-radius: $radius;

	//pour les images
	img {
		width: 100%;
	}
}

