@charset "UTF-8";

//TODO: verified
/// Une fonction qui retourne la pastel de la couleur en argument
/// @param {string} $color - la couleur a determiner sa valeur en pastel
@function color-pastel($color) {
	$hue: hue($color);
	$sat: 100%;
	$light: 90%;
	$pastel: hsl($hue, $sat, $light);

	@return $pastel;
}

//------------------------------------------------------------

//TODO: verified
/// Une fonction qui ajuste la luminosite d'une couleur en argument
/// @param {string} $color - la couleur a ajuster
@function color-adjust($color, $percent) {
	$adjust: lighten(adjust-hue($color, 20), $percent);

	@return $adjust;
}

//------------------------------------------------------------

//TODO: verified
/// Une fonction qui retourne le complementaire d'une couleur (utile pour determiner une charte graphique)
/// @param {string} $color - la couleur a determiner son complaimentaire
@function color-complement($color, $color-primary: $color) {
	@if (hue($color) >= 135 and hue($color) < 180) {
		$color: complement($color-primary);
	} @else {
		$color: adjust-hue($color, -60);
	}
	@return $color;
}
