@charset "UTF-8";

//TODO: verified
/// Scale zoom effect input
/// @param {color} $bg-color [#eee] - background color
/// @param {color} $border-color [#eee] - border color
/// @param {color} $text-color [#444] - text color
@mixin input-scale($bg-color: #eee, $border-color: #eee, $text-color: #444) {
  padding: 3px 5px 3px 5px;
  color: $text-color;
  background-color: $bg-color;
  border: 2px solid $border-color;
  border-radius: 10px;
  transition: 0.2s;

  &:focus {
    color: $text-color;
    border-radius: 5px;
    border: 2px solid $border-color;
    transform: scale(1.05);
  }
}
