@charset "UTF-8";

// Magic - https://www.minimamente.com/project/magic

/*-------------- ANIMATIONS --------------*/
//TODO: verified
// bling
@import './magic/bling/puffIn';
@import './magic/bling/puffOut';
@import './magic/bling/vanishIn';
@import './magic/bling/vanishOut';

//TODO: verified
// boing
@import './magic/boing/boingInUp';
@import './magic/boing/boingOutDown';

//TODO: verified
// bomb
@import './magic/bomb/bombLeftOut';
@import './magic/bomb/bombRightOut';

//TODO: verified
// magic_effects
@import './magic/magic_effects/magic';
@import './magic/magic_effects/swap';
@import './magic/magic_effects/twisterInDown';
@import './magic/magic_effects/twisterInUp';

//TODO: verified
// math
@import './magic/math/foolishIn';
@import './magic/math/foolishOut';
@import './magic/math/holeOut';
@import './magic/math/swashIn';
@import './magic/math/swashOut';

//TODO: verified
// on_the_space
@import './magic/on_the_space/spaceInDown';
@import './magic/on_the_space/spaceInLeft';
@import './magic/on_the_space/spaceInRight';
@import './magic/on_the_space/spaceInUp';
@import './magic/on_the_space/spaceOutDown';
@import './magic/on_the_space/spaceOutLeft';
@import './magic/on_the_space/spaceOutRight';
@import './magic/on_the_space/spaceOutUp';

//TODO: verified
// perspective
@import './magic/perspective/perspectiveDown';
@import './magic/perspective/perspectiveDownReturn';
@import './magic/perspective/perspectiveLeft';
@import './magic/perspective/perspectiveLeftReturn';
@import './magic/perspective/perspectiveRight';
@import './magic/perspective/perspectiveRightReturn';
@import './magic/perspective/perspectiveUp';
@import './magic/perspective/perspectiveUpReturn';

//TODO: verified
// rotate
@import './magic/rotate/rotateDown';
@import './magic/rotate/rotateLeft';
@import './magic/rotate/rotateRight';
@import './magic/rotate/rotateUp';

//TODO: verified
// slide
@import './magic/slide/slideDown';
@import './magic/slide/slideDownReturn';
@import './magic/slide/slideLeft';
@import './magic/slide/slideLeftReturn';
@import './magic/slide/slideRight';
@import './magic/slide/slideRightReturn';
@import './magic/slide/slideUp';
@import './magic/slide/slideUpReturn';

//TODO: verified
// static_effects
@import './magic/static_effects/openDownLeft';
@import './magic/static_effects/openDownLeftReturn';
@import './magic/static_effects/openDownRight';
@import './magic/static_effects/openDownRightReturn';
@import './magic/static_effects/openUpLeft';
@import './magic/static_effects/openUpLeftReturn';
@import './magic/static_effects/openUpRight';
@import './magic/static_effects/openUpRightReturn';

//TODO: verified
// static_effects_out
@import './magic/static_effects_out/openDownLeftOut';
@import './magic/static_effects_out/openDownRightOut';
@import './magic/static_effects_out/openUpLeftOut';
@import './magic/static_effects_out/openUpRightOut';

//TODO: verified
// tin
@import './magic/tin/tinDownIn';
@import './magic/tin/tinDownOut';
@import './magic/tin/tinLeftIn';
@import './magic/tin/tinLeftOut';
@import './magic/tin/tinRightIn';
@import './magic/tin/tinRightOut';
@import './magic/tin/tinUpIn';
@import './magic/tin/tinUpOut';
