@charset "UTF-8";

//TODO: verified
/// nav-props allows to quickly initialize the default CSS properties of a navigation bar
@mixin nav-props() {
	transition: 0.4s ease;
	align-items: center;
	justify-content: space-between;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}
}


