@charset "UTF-8";

//TODO: test
/// Navigator vous permet d'initialiser rapidement les proprietEs CSS par defaut d'une barre de navigation - il est preferable de declarer ce mixin juste apres le selecteur nav
@mixin navigator {
	top: 0;
	position: fixed;
	width: 100%;
	transition: 0.4s ease;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	//justify-content: space-between;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		li {
			display: inline;
		}
	}
}
