@charset "UTF-8";

//TODO: verified
/// Positionner rapidement vos elements par rapport a son element parent
/// @param {string} $position [vertical, horizontal, both] - position de l'element
@mixin position-set($position) {
	position: relative;

	@if $position == 'vertical' {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	} @else if $position == 'horizontal' {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translate(-50%);
	} @else if $position == 'both' {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

//TODO: verified
/// Centrer rapidement un block
@mixin position-block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//TODO: verified
/// Centrer rapidement l'element (containers|items) enfant du selecteur en argument
@mixin position-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

//TODO: verified
/// Ce mixin sera utile chaque fois que vous avez du contenu flottant à droite ou à gauche et que vous souhaitez effacer l'espace sous l'élément flottant pour insérer un nouveau contenu en dessous.
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}
