[data-v-1d215c44] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-1d215c44],
[data-v-1d215c44]:after,
[data-v-1d215c44]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-1d215c44] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-1d215c44],
button[data-v-1d215c44],
input[data-v-1d215c44],
label[data-v-1d215c44] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-1d215c44] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-1d215c44] {
  opacity: 0.7;
}
input[data-v-1d215c44] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-1d215c44] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-1d215c44] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-1d215c44]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-1d215c44] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-1d215c44]:hover {
  background: #aaa;
  color: #000;
}
.logo[data-v-1d215c44] {
  fill: #d2ff08;
}
nav[data-v-1d215c44] {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 0 2px 5px #000;
  text-align: center;
}
svg[data-v-1d215c44] {
  vertical-align: middle;
  margin-top: -3px;
}
.caveat[data-v-1d215c44] {
  font-family: Caveat, cursive;
  font-size: 25px;
  margin-top: -10px;
  padding-left: 22px;
  color: #ffd908;
  opacity: 0.9;
  font-weight: 400;
}
a[data-v-1d215c44],
a[data-v-1d215c44]:active,
a[data-v-1d215c44]:visited {
  color: #ffd908;
  text-decoration: none;
}
[data-v-553b04e0] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-553b04e0],
[data-v-553b04e0]:after,
[data-v-553b04e0]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-553b04e0] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-553b04e0],
button[data-v-553b04e0],
input[data-v-553b04e0],
label[data-v-553b04e0] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-553b04e0] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-553b04e0] {
  opacity: 0.7;
}
input[data-v-553b04e0] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-553b04e0] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-553b04e0] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-553b04e0]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-553b04e0] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-553b04e0]:hover {
  background: #aaa;
  color: #000;
}
.github-corner:hover .octo-arm[data-v-553b04e0] {
  -webkit-animation: octocat-wave-data-v-553b04e0 0.56s ease-in-out;
  animation: octocat-wave-data-v-553b04e0 0.56s ease-in-out;
}
@-webkit-keyframes octocat-wave-data-v-553b04e0 {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@keyframes octocat-wave-data-v-553b04e0 {
  0%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm[data-v-553b04e0] {
    -webkit-animation: none;
    animation: none;
  }
  .github-corner .octo-arm[data-v-553b04e0] {
    -webkit-animation: octocat-wave-data-v-553b04e0 0.56s ease-in-out;
    animation: octocat-wave-data-v-553b04e0 0.56s ease-in-out;
  }
}
[data-v-d328a46e] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-d328a46e],
[data-v-d328a46e]:after,
[data-v-d328a46e]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-d328a46e] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-d328a46e],
button[data-v-d328a46e],
input[data-v-d328a46e],
label[data-v-d328a46e] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-d328a46e] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-d328a46e] {
  opacity: 0.7;
}
input[data-v-d328a46e] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-d328a46e] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-d328a46e] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-d328a46e]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-d328a46e] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-d328a46e]:hover {
  background: #aaa;
  color: #000;
}
main[data-v-d328a46e] {
  width: calc(70vw - 50px);
  height: calc(70vh - 50px);
  margin: 15px 0 0 75px;
}
.gridchild[data-v-d328a46e] {
  counter-reset: step;
}
.gridchild div[data-v-d328a46e] {
  counter-increment: step;
  position: relative;
}
.gridchild div[data-v-d328a46e]:before {
  position: absolute;
  content: '.div' counter(step);
  display: block;
  padding: 0 5px;
  text-align: center;
  color: #fff;
}
.gridchild div button[data-v-d328a46e] {
  position: absolute;
  right: 0;
  padding: 0 5px;
  margin: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  z-index: 99999;
}
#gridcontainer[data-v-d328a46e] {
  border: 1px solid #d2ff08;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  background: #131321;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#131321),
    to(#1f1c2c)
  );
  background: linear-gradient(180deg, #131321 0, #1f1c2c);
  -webkit-box-shadow: 0 2px 20px 0 #000;
  box-shadow: 0 2px 20px 0 #000;
}
.grid[data-v-d328a46e] {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-auto-flow: row dense;
}
.grid div[class*='child'][data-v-d328a46e]:first-child {
  background: rgba(138, 107, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(2) {
  background: rgba(122, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(3) {
  background: rgba(77, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(4) {
  background: rgba(31, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(5) {
  background: rgba(15, 138, 46, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(6) {
  background: rgba(15, 138, 92, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(7) {
  background: rgba(15, 138, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(8) {
  background: rgba(15, 92, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(9) {
  background: rgba(15, 46, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(10) {
  background: rgba(31, 15, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(11) {
  background: rgba(77, 15, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(12) {
  background: rgba(122, 15, 138, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(13) {
  background: rgba(138, 15, 107, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(14) {
  background: rgba(138, 15, 61, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(15) {
  background: rgba(138, 15, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(16) {
  background: rgba(138, 61, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(17) {
  background: rgba(138, 107, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(18) {
  background: rgba(122, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(19) {
  background: rgba(77, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid div[class*='child'][data-v-d328a46e]:nth-child(20) {
  background: rgba(31, 138, 15, 0.7);
  border: 1px solid #ddd;
}
.grid p[data-v-d328a46e] {
  padding: 0 10px;
}
.grid div[class*='box'][data-v-d328a46e] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0h1L0 6V5zm1 5v1H5z' fill='%239C92AC' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  border: 1px dotted #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: move;
  position: relative;
  z-index: 1000;
  opacity: 0.5;
}
.colunits[data-v-d328a46e],
.rowunits[data-v-d328a46e] {
  display: grid;
}
.colunits div[data-v-d328a46e],
.rowunits div[data-v-d328a46e] {
  text-align: center;
  position: relative;
}
.rowunits[data-v-d328a46e] {
  margin-left: -70px;
  float: left;
  height: 100%;
}
.rowunits div[data-v-d328a46e] {
  -ms-flex-item-align: center;
  align-self: center;
}
.widthfull[data-v-d328a46e] {
  width: 100%;
}
@media screen and (max-width: 700px) {
  main[data-v-d328a46e] {
    width: calc(80vw - 50px);
    height: calc(40vh - 50px);
  }
}
.errors[data-v-d328a46e] {
  position: absolute;
  bottom: -5px;
  border-radius: 4px;
  padding: 8px 12px;
  z-index: 1;
  font-weight: 700;
  width: 150px;
  min-height: 50px;
  background: #6d1a39;
}
[data-v-054db666] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-054db666],
[data-v-054db666]:after,
[data-v-054db666]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-054db666] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-054db666],
button[data-v-054db666],
input[data-v-054db666],
label[data-v-054db666] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-054db666] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-054db666] {
  opacity: 0.7;
}
input[data-v-054db666] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-054db666] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-054db666] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-054db666]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-054db666] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-054db666]:hover {
  background: #aaa;
  color: #000;
}
.cursive[data-v-054db666] {
  font-family: Caveat, cursive;
  font-size: 25px;
  color: #ffd908;
  font-weight: 400;
}
.cursive a[data-v-054db666],
.cursive a[data-v-054db666]:active,
.cursive a[data-v-054db666]:visited {
  color: #fb7826;
  text-decoration: underline;
}
strong[data-v-054db666] {
  color: #ffd908;
}
a[data-v-054db666],
a[data-v-054db666]:active,
a[data-v-054db666]:visited {
  color: #d2ff08;
  text-decoration: none;
}
[data-v-170ed3bd] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-170ed3bd],
[data-v-170ed3bd]:after,
[data-v-170ed3bd]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-170ed3bd] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-170ed3bd],
button[data-v-170ed3bd],
input[data-v-170ed3bd],
label[data-v-170ed3bd] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-170ed3bd] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-170ed3bd] {
  opacity: 0.7;
}
input[data-v-170ed3bd] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-170ed3bd] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-170ed3bd] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-170ed3bd]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-170ed3bd] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-170ed3bd]:hover {
  background: #aaa;
  color: #000;
}
.modal-mask[data-v-170ed3bd] {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template: 1fr auto 1fr/1fr auto 1fr;
  overflow: auto;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.modal-wrapper[data-v-170ed3bd] {
  grid-area: 2/2/2/2;
}
.modal-container[data-v-170ed3bd] {
  position: relative;
  width: 80vw;
  max-width: 700px;
  padding: 0 50px 60px;
  background-color: #192d38;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #000;
}
@media screen and (max-width: 700px) {
  .modal-container[data-v-170ed3bd] {
    padding: 0 20px 20px;
    width: calc(100% - 40px);
  }
}
.modal-header[data-v-170ed3bd] {
  font-size: 1.5em;
  text-align: center;
}
.modal-body[data-v-170ed3bd] {
  margin: 20px 0;
}
.modal-button[data-v-170ed3bd] {
  margin: 40px auto;
  display: table;
}
@media screen and (max-width: 700px) {
  .modal-button[data-v-170ed3bd] {
    margin: 20px auto 0;
  }
}
.modal-enter[data-v-170ed3bd],
.modal-leave-active[data-v-170ed3bd] {
  opacity: 0;
}
.modal-enter .modal-container[data-v-170ed3bd],
.modal-leave-active .modal-container[data-v-170ed3bd] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
[data-v-5ac8b550] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-5ac8b550],
[data-v-5ac8b550]:after,
[data-v-5ac8b550]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-5ac8b550] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-5ac8b550],
button[data-v-5ac8b550],
input[data-v-5ac8b550],
label[data-v-5ac8b550] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-5ac8b550] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-5ac8b550] {
  opacity: 0.7;
}
input[data-v-5ac8b550] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-5ac8b550] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-5ac8b550] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-5ac8b550]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-5ac8b550] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-5ac8b550]:hover {
  background: #aaa;
  color: #000;
}
.gridcode[data-v-5ac8b550] {
  position: relative;
  background: #131321;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#131321),
    to(#1f1c2c)
  );
  background: linear-gradient(180deg, #131321 0, #1f1c2c);
  -webkit-box-shadow: 0 2px 20px 0 #000;
  box-shadow: 0 2px 20px 0 #000;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #d2ff08;
  font-size: 15px;
  font-family:
    Roboto Mono,
    Courier,
    monospace;
  max-height: 50vh;
  overflow-y: scroll;
}
.gridcode p[data-v-5ac8b550] {
  margin: 5px;
}
.copycode[data-v-5ac8b550] {
  right: 0;
  top: 0;
  margin: 0;
  background: rgba(15, 138, 138, 0.7);
  padding: 8px 12px;
  border-radius: 0 4px 0 4px;
}
.copycode[data-v-5ac8b550],
.togglehtml[data-v-5ac8b550] {
  position: absolute;
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
  cursor: pointer;
}
.togglehtml[data-v-5ac8b550] {
  right: 5px;
  bottom: 5px;
}
.child[data-v-5ac8b550] {
  padding-left: 40px;
}
.codegroup[data-v-5ac8b550] {
  margin-top: 30px;
}
.sp[data-v-5ac8b550] {
  padding-left: 20px;
}
.ckey[data-v-5ac8b550] {
  color: #6af2d7;
}
.cprop[data-v-5ac8b550] {
  color: #f8a384;
}
.cname[data-v-5ac8b550] {
  color: #ffea18;
}
[data-v-21df1ba1] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-v-21df1ba1],
[data-v-21df1ba1]:after,
[data-v-21df1ba1]:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body[data-v-21df1ba1] {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body[data-v-21df1ba1],
button[data-v-21df1ba1],
input[data-v-21df1ba1],
label[data-v-21df1ba1] {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label[data-v-21df1ba1] {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info[data-v-21df1ba1] {
  opacity: 0.7;
}
input[data-v-21df1ba1] {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset[data-v-21df1ba1] {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button[data-v-21df1ba1] {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button[data-v-21df1ba1]:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'][data-v-21df1ba1] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset'][data-v-21df1ba1]:hover {
  background: #aaa;
  color: #000;
}
aside[data-v-21df1ba1] {
  margin: 60px 60px;
  font-size: 17px;
  width: 300px;
}
.wat[data-v-21df1ba1] {
  font-family: Caveat, cursive;
  font-size: 22px;
  margin-top: 18px;
  color: #a8c9cc;
  opacity: 0.9;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  aside[data-v-21df1ba1] {
    width: 80vw;
    margin: 100px 50px;
  }
  button[type='reset'][data-v-21df1ba1] {
    margin-left: 20px;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
  background: #192d38;
  background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 300;
}
body,
button,
input,
label {
  font-family:
    Mukta Mahee,
    Helvetica,
    Arial,
    sans-serif;
}
label {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}
label .label-extra-info {
  opacity: 0.7;
}
input {
  font-size: 17px;
  background: #211f2f;
  color: #fff;
  width: 50px;
  padding: 0.3ch 5px;
  max-height: 40px;
  border: 1px solid #666;
}
fieldset {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}
button {
  background: 0 0;
  color: #d2ff08;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid #d2ff08;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
button:hover {
  background: #d2ff08;
  color: #000;
}
[type='reset'] {
  color: #aaa;
  border: 1px solid #aaa;
}
[type='reset']:hover {
  background: #aaa;
  color: #000;
}
#app {
  margin: 5vmin 5vmin 0;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
