@charset "UTF-8";

@mixin animate-rotateOut(
  $count: $countDefault,
  $duration: $durationDefault,
  $delay: $delayDefault,
  $function: $functionDefault,
  $fill: $fillDefault,
  $visibility: $visibilityDefault
) {
  @include keyframes(animate-rotateOut) {
    0% {
      opacity: 1;
      @include transform(rotate(0));
      @include transform-origin(center center);
    }
    100% {
      opacity: 0;
      @include transform(rotate(200deg));
      @include transform-origin(center center);
    }
  }
  @include animation-name(animate-rotateOut);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
