@mixin animate-bounceIn(
  $count: $countDefault,
  $duration: $durationDefault,
  $delay: $delayDefault,
  $function: $functionDefault,
  $fill: $fillDefault,
  $visibility: $visibilityDefault
) {
  @include keyframes(animate-bounceIn) {
    0% {
      opacity: 0;
      @include transform(scale(0.3));
    }
    50% {
      opacity: 1;
      @include transform(scale(1.05));
    }
    70% {
      @include transform(scale(0.9));
    }
    100% {
      @include transform(scale(1));
    }
  }
  @include animation-name(animate-bounceIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
