@charset "UTF-8";

@mixin magic-swashIn($duration) {
  -webkit-animation-name: swashIn;
  animation-name: swashIn;
  animation-duration: $duration;
  animation-fill-mode: both;

  @-webkit-keyframes swashIn {
    0% {
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }

    90% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }

    100% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @keyframes swashIn {
    0% {
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }

    90% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }

    100% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
}
