@charset "UTF-8";

@mixin magic-openUpLeftOut($duration, $delay) {
  -webkit-animation-name: openUpLeftOut;
  animation-name: openUpLeftOut;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;

  @-webkit-keyframes openUpLeftOut {
    0% {
      opacity: 1;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    100% {
      opacity: 0;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: rotate(110deg);
      transform: rotate(110deg);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes openUpLeftOut {
    0% {
      opacity: 1;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    100% {
      opacity: 0;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: rotate(110deg);
      transform: rotate(110deg);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }
}
