@charset "UTF-8";

@mixin magic-spaceOutDown($duration, $delay) {
  -webkit-animation-name: spaceOutDown;
  animation-name: spaceOutDown;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;

  @-webkit-keyframes spaceOutDown {
    0% {
      opacity: 1;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1) translate(0%, 0%);
      transform: scale(1) translate(0%, 0%);
    }

    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0.2) translate(0%, 200%);
      transform: scale(0.2) translate(0%, 200%);
    }
  }
  @keyframes spaceOutDown {
    0% {
      opacity: 1;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1) translate(0%, 0%);
      transform: scale(1) translate(0%, 0%);
    }

    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0.2) translate(0%, 200%);
      transform: scale(0.2) translate(0%, 200%);
    }
  }
}
