@charset "UTF-8";

@mixin magic-spaceInRight($duration, $delay) {
  -webkit-animation-name: spaceInRight;
  animation-name: spaceInRight;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;

  @-webkit-keyframes spaceInRight {
    0% {
      opacity: 0;
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: scale(0.2) translate(200%, 0%);
      transform: scale(0.2) translate(200%, 0%);
    }

    100% {
      opacity: 1;
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: scale(1) translate(0%, 0%);
      transform: scale(1) translate(0%, 0%);
    }
  }
  @keyframes spaceInRight {
    0% {
      opacity: 0;
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: scale(0.2) translate(200%, 0%);
      transform: scale(0.2) translate(200%, 0%);
    }

    100% {
      opacity: 1;
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: scale(1) translate(0%, 0%);
      transform: scale(1) translate(0%, 0%);
    }
  }
}
