@charset "UTF-8";

@mixin magic-slideDown($duration, $delay) {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  @keyframes slideDown {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
}
