@charset "UTF-8";

@mixin magic-slideDownReturn($duration) {
  -webkit-animation-name: slideDownReturn;
  animation-name: slideDownReturn;
  animation-duration: $duration;
  animation-fill-mode: both;

  @-webkit-keyframes slideDownReturn {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  @keyframes slideDownReturn {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}
