@charset "UTF-8";

@mixin magic-slideRight($duration, $delay) {
  -webkit-animation-name: slideRight;
  animation-name: slideRight;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;

  @-webkit-keyframes slideRight {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  @keyframes slideRight {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
}
