@mixin animate-bounceOutRight(
  $count: $countDefault,
  $duration: $durationDefault,
  $delay: $delayDefault,
  $function: $functionDefault,
  $fill: $fillDefault,
  $visibility: $visibilityDefault
) {
  @include keyframes(animate-bounceOutRight) {
    0% {
      @include transform(translateX(0));
    }
    20% {
      opacity: 1;
      @include transform(translateX(-20px));
    }
    100% {
      opacity: 0;
      @include transform(translateX(2000px));
    }
  }
  @include animation-name(animate-bounceOutRight);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
