@charset "UTF-8";

/// Adaptive mixin helps you to set max-width value to the containing elements based on the breakpoint values defined in the _map-for-breakpoints.scss file, and also specifies a $gutter value, where the edges of a browser screen can most closely get to the edges of the selected element. (tip: adaptive mixin works best with the percentage values.)
/// @param {pixel, percentage} $gutter [30px] - accepts only one value and sets it for all the breakpoints.
/// @example
///
/// /* example 1 */
///
///  .main-container{
///    @include adaptive();
///  }
///
/// /* example 2 */
///
/// .main-container{
///   @include adaptive(2em);
/// }
@mixin adaptive($gutter: 30px) {
	$actual-breakpoints: map-remove($map-for-breakpoints, 'xsmall');
	margin: 0 auto;
	@each $item, $value in $actual-breakpoints {
		@media (min-width: #{$value}) {
			max-width: calc(#{$value} - (#{$gutter} * 2));
		}
	}
}
