@charset "UTF-8";

@import '../utilities/convert-to-rem';

//TODO: verified
/// Quickly add a border on the containers (util at debugging)
/// @param {string} $color [red] - border color
/// @param {pixel} $size [3px] - border size
/// @param {boolean} $bg-color [true, false] - Activate | Disable the color of the background
/// @param {boolean} $status [true, false] - Activate | Disable Info Box (Debogging)
/// @example
///
/// /* example 1 */
///
///  .containing-element{
///	 	@include box-debugging;
///  }
///
/// /* example 2 - set box size */
///
///  .containing-element{
///	 	@include box-debugging(green, 2px);
///  }
///
/// /* example 3 - enable bg color */
///
///  .containing-element{
///	 	@include box-debugging(purple, 5px, true);
///  }
///
/// /* example 4 - disable status*/
///
///  .containing-element{
///	 	@include box-debugging(yellow, 5px, true, false);
///  }
///
@mixin box-debugging(
	$color: red,
	$size: __convertToRem(3px),
	$bg-color: false,
	$status: true
) {
	@if ($status) {
		border: solid __convertToRem($size) $color;
		@if ($bg-color) {
			background-color: lighten(adjust-hue($color, 20), 25%);
			// opacity: 70%;
		}
	}
}
