@charset "UTF-8";

//TODO: verified
/// This mixin will be useful whenever you have content floating to the right or left and want to clear the space below the floating element to insert new content below - must be applied to the parent element.
/// @example
///  .parent-element{
///    @include clearfix;
///  }
@mixin clearfix() {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
