@charset "UTF-8";

//TODO: verified
/// Nav-props mixin allows to quickly initialize the default CSS properties of a navigation bar
/// @example
///  nav {
///   @include nav-props();
///  }
@mixin nav-props() {
	align-items: center;
	justify-content: space-between;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}
}
