@charset "UTF-8";

//TODO: verified
/// Quickly modify the padding of an element
/// @param {pixel | null} $top - spacing at the top of the padding
/// @param {pixel | null} $right - spacing at the right of the padding
/// @param {pixel | null} $bottom - spacing at the bottom of the padding
/// @param {pixel | null} $left - spacing at the left of the padding
@mixin spacing-padding($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

//TODO: verified
/// Quickly modify the margin of an element
/// @param {pixel | null} $top - spacing at the top of the padding
/// @param {pixel | null} $right - spacing at the right of the padding
/// @param {pixel | null} $bottom - spacing at the bottom of the padding
/// @param {pixel | null} $left - spacing at the left of the padding
@mixin spacing-margin($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}

//TODO: verified
/// Quickly add a predefined padding|margin based on the template argument
/// @param {string} $gabarit [small, medium, large] - spacing gabarit of container
@mixin spacing-quick($gabarit: medium) {
	@if ($gabarit == small) {
		padding: 10px 10px 10px 10px;
		margin: 10px 10px 10px 10px;
	}
	@if ($gabarit == medium) {
		padding: 30px 30px 30px 30px;
		margin: 30px 30px 30px 30px;
	}
	@if ($gabarit == large) {
		padding: 50px 50px 50px 50px;
		margin: 50px 50px 50px 50px;
	}
}
