//TODO: verified
/// This mixin performs fast import of external fonts and include consistent properties.
/// @param {string} $font-name - the name of the font family to use throughout your code
/// @param {path} $path - font path
/// @param {string} $weight [normal] - font weight
/// @param {string} $style [normal] - default style to use
@mixin typo-fontface($font-name, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-name;
		font-weight: $weight;
		font-style: $style;
		src: url($path);
	}
}
