//TODO: verified
/// This mixin performs fast import of external fonts and include consistent properties.
/// @param {string} $font-name - the name of the font family to use throughout your code
/// @param {path} $path - font path
/// @param {string} $weight [normal, lighter, bold, bolder] - font weight
/// @param {string} $style [normal, italic] - style to use
/// @example
///
///  /* example 1 */
///
///  @imnport typo-fontface('Quicksand-regular', './src/assets/fonts/Quicksand-regular.ttf')
///
///  /* example 2 */
///
///  @imnport typo-fontface('Quicksand-bold', './src/assets/fonts/Quicksand-bold.ttf', bolder)
@mixin typo-fontface($font-name, $path, $weight: normal, $style: normal) {
	$list: '[weight]: normal', '[weight]: lighter', '[weight]: bold',
		'[weight]: bolder', '[style]:normal', '[style]:italic';

	@if (
		($weight == normal) or
			($weight == lighter) or
			($weight == bold) or
			($weight == bolder) and
			($style == normal) or
			($style == italic)
	) {
		@font-face {
			font-family: $font-name;
			font-weight: $weight;
			font-style: $style;
			src: url($path);
		}
	} @else {
		@error "The argument must be one of the followings: #{quote($list)}.";
	}
}
