@charset "UTF-8";

@mixin magic-perspectiveUp($duration) {
  -webkit-animation-name: perspectiveUp;
  animation-name: perspectiveUp;
  animation-duration: $duration;
  animation-fill-mode: both;

  @-webkit-keyframes perspectiveUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: perspective(800px) rotateX(0deg);
      transform: perspective(800px) rotateX(0deg);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: perspective(800px) rotateX(180deg);
      transform: perspective(800px) rotateX(180deg);
    }
  }
  @keyframes perspectiveUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: perspective(800px) rotateX(0deg);
      transform: perspective(800px) rotateX(0deg);
    }

    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: perspective(800px) rotateX(180deg);
      transform: perspective(800px) rotateX(180deg);
    }
  }
}
